<ng-container *ngIf="isFormSubmitting">
  <mat-spinner></mat-spinner>
</ng-container>

<div mat-dialog-content>
  <button mat-icon-button class="close-button" [mat-dialog-close]="true">
    <mat-icon class="close-icon" color="warn">close</mat-icon>
  </button>

  <p>
    <mat-form-field appearance="fill">
      <mat-label>Name</mat-label>
      <input #ref_name="ngModel" matInput [(ngModel)]="messageData.name" required/>
      <mat-error *ngIf="!ref_name.valid && ref_name.errors.required">
        Name is required
    </mat-error>
    </mat-form-field>
  </p>

  <p>
    <mat-form-field appearance="fill">
      <mat-label>Message</mat-label>
      <textarea
        matInput
        cdkTextareaAutosize #ref_message="ngModel"
        #autosize="cdkTextareaAutosize"
        cdkAutosizeMinRows="3"
        cdkAutosizeMaxRows="5"
        [(ngModel)]="messageData.message" required
      ></textarea>
      <mat-error *ngIf="!ref_message.valid && ref_message.errors.required">
        Message is required
    </mat-error>
    </mat-form-field>
  </p>

  <p>
    <button mat-button cdkFocusInitial (click)="onSubmit()" type="submit">
      Submit
    </button>
  </p>
</div>
